In [7]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('ABJ.xlsx', skiprows=6)
df

,SECT,Unnamed: 1,VAR,Shelv,NOTCHES,POSISI,No. Urut,PLU,DESC,Unnamed: 9,Unnamed: 10,KI-KA,A-B,TAG
0,AB,NaN,ABJ,1,"155.68""",Front 0,,,,NaN,NaN,0,0.0,
1,AB,NaN,ABJ,1.1,"130.50""",Front 0,1,417806,KANZLER SINGLES MINI 65G (55),NaN,NaN,1,1.0,B
2,AB,NaN,ABJ,1.1,"130.50""",Front 0,2,417804,KANZLER SINGLES ORI 65G,NaN,NaN,1,1.0,B
3,AB,NaN,ABJ,1.1,"130.50""",Front 0,3,417805,KANZLER SINGLES KEJU 65G,NaN,NaN,1,1.0,B
4,AB,NaN,ABJ,1.1,"130.50""",Front 0,4,423992,KANZLER SINGLES HOT 65G,NaN,NaN,1,1.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,AB,NaN,ABJ,Right/14,"8.00""",Front 0,,,,NaN,NaN,*,0.0,
275,AB,NaN,ABJ,Right/5,"8.00""",Front 0,,,,NaN,NaN,*,0.0,
276,AB,NaN,ABJ,Right/7,"8.00""",Front 0,,,,NaN,NaN,*,0.0,
277,AB,NaN,ABJ,Right/8,"8.00""",Front 0,,,,NaN,NaN,*,0.0,
278,Page 1 of 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.dropna(axis=1, how='all')  # Hapus kolom kosong
df = df.drop(df.index[-1])
df

,SECT,VAR,Shelv,NOTCHES,POSISI,No. Urut,PLU,DESC,KI-KA,A-B,TAG
0,AB,ABJ,1,"155.68""",Front 0,,,,0,0.0,
1,AB,ABJ,1.1,"130.50""",Front 0,1,417806,KANZLER SINGLES MINI 65G (55),1,1.0,B
2,AB,ABJ,1.1,"130.50""",Front 0,2,417804,KANZLER SINGLES ORI 65G,1,1.0,B
3,AB,ABJ,1.1,"130.50""",Front 0,3,417805,KANZLER SINGLES KEJU 65G,1,1.0,B
4,AB,ABJ,1.1,"130.50""",Front 0,4,423992,KANZLER SINGLES HOT 65G,1,1.0,B
...,...,...,...,...,...,...,...,...,...,...,...
273,AB,ABJ,Right/12-1,"8.00""",Front 0,,,,*,0.0,
274,AB,ABJ,Right/14,"8.00""",Front 0,,,,*,0.0,
275,AB,ABJ,Right/5,"8.00""",Front 0,,,,*,0.0,
276,AB,ABJ,Right/7,"8.00""",Front 0,,,,*,0.0,
277,AB,ABJ,Right/8,"8.00""",Front 0,,,,*,0.0,

In [11]:
df['PLU'] = df['PLU'].str.strip()
df['PLU'] = df['PLU'].replace("", np.nan)
df

,SECT,VAR,Shelv,NOTCHES,POSISI,No. Urut,PLU,DESC,KI-KA,A-B,TAG
0,AB,ABJ,1,"155.68""",Front 0,,NaN,,0,0.0,
1,AB,ABJ,1.1,"130.50""",Front 0,1,417806,KANZLER SINGLES MINI 65G (55),1,1.0,B
2,AB,ABJ,1.1,"130.50""",Front 0,2,417804,KANZLER SINGLES ORI 65G,1,1.0,B
3,AB,ABJ,1.1,"130.50""",Front 0,3,417805,KANZLER SINGLES KEJU 65G,1,1.0,B
4,AB,ABJ,1.1,"130.50""",Front 0,4,423992,KANZLER SINGLES HOT 65G,1,1.0,B
...,...,...,...,...,...,...,...,...,...,...,...
273,AB,ABJ,Right/12-1,"8.00""",Front 0,,NaN,,*,0.0,
274,AB,ABJ,Right/14,"8.00""",Front 0,,NaN,,*,0.0,
275,AB,ABJ,Right/5,"8.00""",Front 0,,NaN,,*,0.0,
276,AB,ABJ,Right/7,"8.00""",Front 0,,NaN,,*,0.0,
277,AB,ABJ,Right/8,"8.00""",Front 0,,NaN,,*,0.0,

In [12]:
df = df.dropna(subset=['PLU'])
df

,SECT,VAR,Shelv,NOTCHES,POSISI,No. Urut,PLU,DESC,KI-KA,A-B,TAG
1,AB,ABJ,1.1,"130.50""",Front 0,1,417806,KANZLER SINGLES MINI 65G (55),1,1.0,B
2,AB,ABJ,1.1,"130.50""",Front 0,2,417804,KANZLER SINGLES ORI 65G,1,1.0,B
3,AB,ABJ,1.1,"130.50""",Front 0,3,417805,KANZLER SINGLES KEJU 65G,1,1.0,B
4,AB,ABJ,1.1,"130.50""",Front 0,4,423992,KANZLER SINGLES HOT 65G,1,1.0,B
5,AB,ABJ,1.1,"130.50""",Front 0,5,433388,SO NICE SOSIS PRM ORI 60G (54),1,1.0,
...,...,...,...,...,...,...,...,...,...,...,...
254,AB,ABJ,6.6,"8.00""",Front 0,2,415635,JAVANA TEH GULA BATU PET 350ML,1,1.0,B
255,AB,ABJ,6.6,"8.00""",Front 0,3,432931,GARANTEA APEL PET 350ML,1,1.0,
256,AB,ABJ,6.6,"8.00""",Front 0,4,125338,ICHI OCHA GREEN TEA PET 350ML,1,1.0,
257,AB,ABJ,6.6,"8.00""",Front 0,5,990034,TEH GELAS PET 350ML,2,1.0,B
258,AB,ABJ,6.6,"8.00""",Front 0,6,433972,BONTEH PET 330ML,1,1.0,